{% extends 'test2/base2.html' %}


{% block style %}
    <style>
        .post{
            color: black;
        }
        img{
            width:100%;
        }
    </style>
{% endblock %}


{% block content %}
    {% for post in posts %}
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="post">
           <p class="post_identity">
               {{ post.identity }}
               {{ post.created_date}}
           </p>
           <p class="post_photo">
                <img src="../media/{{ post.photo }}" alt="alt">
           </p>
           <p>
               {{ post.photo }}
           </p>
           <p class="post_stoty">
               {{ post.story }}
               {{ post.published_date }}
           </p>
           
           
       </div>
    </a>
    {% endfor %}
{% endblock %}
