{% extends 'test2/base2.html' %}

{% block style %}
    <style>
        .signup_tag{
            font-size: 3rem;
            margin-bottom: 0;
        }
        .signup_sys{
            display: inline-block;
            margin-left: 20%;
        }
        .signup_sub{
            margin-top: 20px;
            color : #4a4a2a
        }
    </style>

{% endblock %}

<!------------------------------------------->

{% block content %}
    <div class="signup_sys">
     <h3 class="signup_tag">SignUp</h3>
     <form class= "signform" method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class ="save btn btn-default" value="Signup"/>
        <!--<a href={{ "signup" }}><input type="button" class="signup" value="SignUp"/></a>
    -->    
   </form>
</div>
    

{% endblock %}

<!------------------------------------------->

{% block sub %}
    {% if request.user.is_anonymous %}
        <div class="header_sub">
            <label>SignUp : &nbsp&nbsp<a href="{% url 'signup' %}"><input type="button" value="SignUp"></a></label> 
        </div>
    {% else %}
        <div class="header_sub">
            X
        </div>
    {% endif%}
{% endblock %}